@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.sombracuadrada {
    box-shadow: -15px -15px 0px #a0420b;
}
.fuentePrecios {
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
}
